
* {
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
    margin: 10px 3px;
    padding: 4px 6px;
    width: 200px; 
    font-size: 15px;
}

.form input.input-error {
    border-bottom: 1px solid red;

}

.error {
    font-size: 14px;
    color: #ff2f2f;
}

.uName, .pass, .gmail {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.pass {
    position: relative;
}



.pass div {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.btn1, .btn2 {
    width: 70px;
    height: 35px;
    margin: 0 10px;
    border-radius: 7px;
    border: none;
}

.btn1 {
    background-color: rgb(185, 209, 217);
}

.btn2 {
    cursor: pointer;
    background-color: darkblue;
    color: rgb(202, 202, 202);
}
